.drawer {
  width: 300px;
  background: #3e32a8;
  height: 100vh;
  color: white;

  &__header {
    text-align: center;
    margin: 10px;
    font-weight: bold;
  }

  &__icon {
    cursor: pointer;
  }
}

.home {
  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  &__table {
    margin-right: 20px;
    margin-left: 20px;
  }

}


.menu {
  padding-top: 10px;

  &__item {
    transition: 0.3s;
    align-items: center;
    cursor: pointer;
    height: 50px;
  }

  &__item > p {
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
  }

  &__item:hover {
    transition: 0.3s;
    background: #211a40;
  }

  &__item::after {
    content: "";
    width: 3px;
    float: right;
    height: 100%;
    opacity: 0;
    display: block;
    margin-top: -33px;
    background: #948ead;
    transition: 0.3s;
  }

  &__item:hover:after {
    opacity: 1;
    transition: 0.3s;
  }
  &__item-active {
    background: #1c2a78;
  }
}