
.register {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  &__header {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    top: 150px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 700;
  }
  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 400px;
    height: 420px;
    margin: 0 auto;
    text-align: center;
    background: aliceblue;
    display: block!important;
  }
  &__name-input {
    margin-top: 60px;
  }
  &__surname-input {
    margin-top: 10px;
  }
  &__email-input {
    margin-top: 10px;
  }
  &__password-input {
    margin-top: 10px;
  }
  &__button {
    top: 10px;
    display: block;
  }
  &__error {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: red;
    top: 10px;
    margin: 0;
    padding: 0;
  }
  &__bottom-p {
    color: #c6c8cc;
  }
  &__not-registered {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}
